@charset "utf-8";
/* CSS Document */

#hotel p {
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	line-height: 30px;
}

#bed {
	object-fit: cover;
	width: 100px;
	height: 300px;
	letter-spacing: 2px;
}

#pool p {
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	line-height: 30px;
}


